* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', 'sans-serif';
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.urgent {
    color: #FF0000;
}

form {
    padding: 10px 20px;
    border: 1px solid #999999;
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
}

input {
    margin: 0 5px;
}

.todoContainer {
    overflow: auto;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}

.button {
    padding: 5px;
    border: 1px solid #999999;
    border-radius: 5px;
    float: right;
    color: #FFFFFF;
    margin: 0 5px;
}

.button.delete {
    background-color: #FF0000;
}

.button.complete {
    background-color: #719e40;
}

.button:hover {
    border-color: #000000;
    cursor: pointer;
}